choice
    prompt "MMU Page Size"
    default ARM64_PAGE_SIZE_4K
    help
        Select the page size for the ARM64 MMU. The default is 4KiB.
    depends on CONFIG_ARCH_AARCH64

    config ARM64_PAGE_SIZE_4K
        bool "4KiB"

    config ARM64_PAGE_SIZE_16K
        bool "16KiB"

    config ARM64_PAGE_SIZE_64K
        bool "64KiB"
endchoice