CONFIG_QCOM_KEYS=y
CONFIG_QCOM_SPMI=y
CONFIG_QCOM_KEY_DEBOUNCE_SAMPLES=2
# CONFIG_KSHIM_QEMU_PLATFORM is not set
CONFIG_KSHIM_FRAMEBUFFER=y
CONFIG_KSHIM_LVGL=y
CONFIG_KSHIM_LVGL_BUFFER_BYTES=262144
CONFIG_KSHIM_UEFI_TEST_MENU=y
CONFIG_KSHIM_MENU_ENTRY1="UEFI A"
CONFIG_KSHIM_MENU_ENTRY2="UEFI B"
CONFIG_KSHIM_UEFI_LOAD_ADDRESS=0xFFC00000
CONFIG_KSHIM_UEFI_MAX_SIZE=0x400000
# CONFIG_ENABLE_BANNER is not set
CONFIG_DEBUG_LEVEL_NONE=y
CONFIG_ASSERT_HALT=y

CONFIG_KSHIM_SMP=y
CONFIG_KSHIM_SMP_WORKERS=7
